.ProductForm {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  flex-grow: 1;

  .form-wrapper {
    width: 100%;
  }

  .select-container {
    margin-top: 20px;
  }

  .button-container {
    margin-top: 20px;
  }
}